body {
  font-family: 'Pacifico', cursive;
}

.head ul > li,
h1 {
  font-family: 'Indie Flower';
  font-weight: bolder;
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul {
  padding-left: 0px;
  margin-bottom: 10px;
}
.name {
  font-weight: 400;
  margin-right: 20px;
}
.links {
  margin-right: 5px;
}

.head {
  border-bottom: 0.5px solid black;
  margin-top: 20px;
}

img {
  /* min-width: 400px;
  min-height: 300px; */
  max-width: none;
  width: 700px;
  height: 500px;
}
.boxes {
  /* border: 2px solid black; */
  display: inline-block;
  margin: 10px;
}
.whole {
  font-family: 'Bebas Neue';
  margin: 0 auto;
  /* width: 1600px; */
  padding: 10px;
  /* overflow-x: scroll; */
  /* border: 2px solid black; */
}
.left-img {
  margin-right: 90px;
}

.about {
  font-family: 'Bebas Neue';
  font-weight: 100;
  /* line-height: 3; */
  border-bottom: 0.5px solid black;
  display: block;
}

.together {
  font-family: 'Bebas Neue';
  font-weight: lighter;

  border-bottom: 0.5px solid black;
  display: block;
}

.myself {
  margin-left: 20px;
  /* width: 1600px; */
  /* border: 2px solid black; */
  font-weight: lighter;
  line-height: 2;
}

.info {
  margin: 5px 0 0 20px;
}

.head a {
  text-decoration: none;
  color: black;
  transition: font-size 1s, color 2s;
}

.head a:hover {
  cursor: pointer;
  color: rgb(144, 12, 12);
  font-size: 20px;
  transition: font-size 1s, color 0.5s;
}
.info a {
  text-decoration: none;
  color: black;
  transition: font-size 1s, color 0.5s;
}

.info a:hover {
  cursor: pointer;
  color: rgb(144, 12, 12);
  font-size: 20px;
  transition: font-size 1s, color 0.5s;
}
